/* Color used
background color: #F8DFDB
primary color: #C9140F
secondary color: #000000
secondary color: #FFFFFF */
body { /* General styling */
  background-color: #F8DFDB;
  font-family: 'Inter Tight' , sans-serif; /* Set font to Inter */
  font-size: 16px; /*Set font size to 16px */
  font-weight: 300; /* Set font weight to 300 */
  line-height: 1.6; /* Set line height to 1.6 * Font size */
  color: #C9140F;
}
/* Header stylings */
header {
  background-color: #F8DFDB;
  padding: 10px;
  margin: 10px;
}
h1 , h2 , h3 , h4 , h5 , h6 {
  line-height: 1.4;
}
h1 {
  font-size: 4em;
  font-weight: 400;
  text-align: left;
}
h2 {
  font-size: 2.25em;
  font-weight: 400;
}
h3 {
  font-size: 2em;
  font-weight: 400;
}
h4 {
  font-size: 1.75em;
  font-weight: 300;
}
h5 {
  font-size: 1.5em;
  font-weight: 300;
}
h6 {
  font-size: 1.25em;
  font-weight: 300;
}
img {
  width: 100%;
}
/* Main and Footer anchors */
main a, footer a {
  color: #C9140F;
  font-weight: 300;
  text-decoration: none;
}
main a, footer a:visited {
  color: #C9140F;
}
main a, footer a:hover {
  color: #C9140F;
  font-weight: 400;
}
main a, footer a:focus {
  color: #C9140F;
  font-weight: 400;
}
main a, footer a:active {
  color: #C9140F;
  text-decoration: underline;
}
/* Main navigation styling */
header nav a {
  color: #000;
  text-decoration: none;
}
header nav a:visited {
  color: #000000;
}
header nav a:hover {
  color: #000000;
  font-weight: 400;
}
header nav a:focus {
  color: #000000;
  font-weight: 400;
}
header nav a:active {
  color: #000000;
  text-decoration: underline;
}
nav #current-page { /* Red current page ID */
  color: #C9140F;
  text-decoration: none;
}
#caselink { /* Home page All cases ID */
  font-weight: 500;
  font-style: italic;
  text-decoration: underline;
}
#caselink:hover {
  animation:  shake 0.8s  ;
}
@keyframes shake{
  0% {transform: translateX(0)}
  25%{transform: translateX(25px);}
  50%{transform: translateX(-25px);}
  100%{transform: translateX(0px);}
}
.black-header { /* Change header black class */
  color: #000000;
  text-decoration: none;
}
.italic-text { /* Change text italic class */
  font-style: italic;
}
/* 14px and 12px body texts */
.body-2 {
  color: #000000;
  font-size: 0.875em
}
.body-3 {
  font-size: 0.75em;
  color: #000000;
}
#next-project { /* Next project links on project pages ID */
  font-weight: 500;
  text-decoration: none;
}
/* Contact page links */
#linkedin { /* LinkedIn ID */
  color: #000000;
  font-weight: 300;
  text-decoration: none;
}
#behance { /* Behance ID */
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
}
#email { /* Email ID */
  color: #C9140F;
  font-weight: 300;
  text-decoration: none;
}
#linkedin:visited, #behance:visited, #email:visited {
  font-weight: 300;
}
#linkedin:hover, #behance:hover, #email:hover {
  font-weight: 400;
}
#linkedin:focus, #behance:focus, #email:focus {
  font-weight: 400;
}
#linkedin:active, #behance:active, #email:active {
  text-decoration: underline;
}
/* Work page title links * animated when hovered over */
.work-link {
  font-weight: 400;
  text-decoration: none;
}
.full-case {
  text-decoration: none;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
}
/* Layout Styling */
.container {
  padding: 0 20px;
}
.row {
  padding: 16px 0;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#main h4 { /* Introduction on Index page */
  text-align: left;
  margin-top: 32px;
  margin-bottom: 136px;
}
#selected-works { /* Title on index */
  text-align: center;
}
#main h6 { /* All cases on Index */
  text-align: center;
  margin-top: 108px;
  margin-bottom: 32px;
}
#main h1 { /* Header on Index */
  margin-top: 8px;
  margin-bottom: 32px;
}
#header nav { /* Nav layout starts */
  padding: 8px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a { /* Nav layout ends */
  padding: 0 8px;
}
#main-about h6 { /* Introduction on About */
  text-align: left;
}
picture {
  margin-top: 32px;
  margin-bottom: 16px;
}
/* Marquee text starts */
.marquee {
  font-size: 2.25em;
  font-weight: 300;
  height: 64px;
  width: 736px;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
}
.marquee div {
  display: inline-flex;
  width: 200%;
  height: 64px;
  position: absolute;
  overflow: hidden;
  animation: marquee 15s linear infinite;
}
.marquee span {
  float: right;
  width: 50%;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
/* Marquee text ends */
#col-md-6 {
  width: 50%;
  float: left;
}
.arrow {
  width: 97px;
}
.line {
  margin-top: 2px;
  width: 97px;
  background: #C9140F;
  height: 2px;
  float: left;
}
.point {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #C9140F;
  float: right;
}
.scroll-pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from { transform: scale(0.8); }
  to { transform: scale(1.2); }
}
.arrow-index {
  animation: 2s color-change infinite alternate linear;
}
@keyframes color-change {
  from {fill: #C9140F;}
  to {fill: #F8DFDB;}
}
#main img {
  width: 350px;
  height: 443px;
  margin: auto 16px;
}
#footer-about img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: auto 32px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 22px;
  }
}
